/* Style.css Site Grupo de Louvor*/

/* Formatacao Global */
body, a {
    font-family: "Montserrat", "Open Sans", "Roboto", Verdana, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-align: justify;
  }

  nav a{
    color: black !important;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  img {
    width: 3rem;
    transform: translate(0, 1rem);
  }
  
  .responsive-img {
    width: 95%;
    height: auto;
  }
  
  h1 {
    font-size: 2.488rem;
    text-align: center;
    font-weight: 600;
  }
  
  h2 {
    font-size: 2.074rem;
    text-align: center;
    font-weight: 600;
  }
  
  h3 {
    font-size: 1.728rem;
  }
  
  h4 {
    font-size: 1.44rem;
  }
  
  h5 {
    font-size: 1.2rem;
    color: black;
  }
  
  p {
    font-size: 1rem;
    color: black;

  }
  
  legend {
    display: inline-block;
    margin: 0.1rem;
  }
  
  .image-footer{
    width: 1.5rem;
    padding-right: 0.1rem;
    margin-bottom: -0.4rem;
  }